{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'customer/css/profile_settings.css'%}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{{ profile_info.get_profile_name }} </title>
</head>

<body>
<!-- Navigation Bar -->
<div class="menu-top">
    <div class="container-fluid navbar-container">
        <div class="menu">
            <!-- Logo Section -->          
            <div class="logo-section">
                <a href="#" class="button-class">
                    <div class="logo-container">
                        <span class="navbar-brand"> PIELAM </span>
                    </div>
                </a>
            </div>     
            
       
            <!-- Menu Links -->
            <div class="menu-links">
                <a href="{% url 'ponno:home' %}" class="menu-item icon-button " aria-label="Home">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
                <a href="{% url 'notify:notification' %}" class="menu-item icon-button ">
                    <i class="fa-solid fa-bell"></i>
                    <span>Notifications</span>
                </a>
               
                <a href="{% url 'customer:profile' %}" class="menu-item icon-button  aria-label="Profile">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Profile</span>
                </a>            
            </div>               
        </div>
    </div>
</div>

   
<div class="profile">
        
    <div class="profile-left">
    <div class="vaipen-card-infos">
        <h2> Dashboard </h2>
        <hr><br>
        <div class="vaipen-card-info">
            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Following: </p></div>
                <div class="vaipen-card-info-value"><p>{{ followings_count }}</p></div>
            </div>
            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Followers: </p></div>
                <div class="vaipen-card-info-value"><p>{{ followers_count }}</p></div>
            </div>

            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Products Listed: </p></div>
                <div class="vaipen-card-info-value"><p>{{ products_listed_count }}</p></div>
            </div>

            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Active Products: </p></div>
                <div class="vaipen-card-info-value"><p>{{ active_products_count }}</p></div>
            </div>

            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Brands Created: </p></div>
                <div class="vaipen-card-info-value"><p>{{ brands_count }}</p></div>
            </div>

            <div class="vaipen-card-info-row">
                <div class="vaipen-card-info-label"><p> Categories Created: </p></div>
                <div class="vaipen-card-info-value"><p>{{ categories_count }}</p></div>
            </div>
        </div>
    </div>


                         
    </div>
        
    
<div class="profile-middle">

    <div class="profile-center">

        <!-- General Info -->
        <h2 class="general-info-heading"> Notifications </h2>
        <hr>

        <div class="general-info">

           <div class="general-info-row">
    <div class="general-info-label">

        {% if notifications %}
            {% for note in notifications %}
                <div class="welcome-box notification-box">
                    <h3>{{ note.title }}</h3>
                    <p>{{ note.message }}</p>
                    <small>{{ note.created_at|default:"" }}</small>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
     
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Gender:</div>
                <div class="general-info-value">{{ profile_info.get_profile_gender }}</div>
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Date of Birth:</div>
                <div class="general-info-value">{{ profile_info.get_profile_dob }}</div>
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Age:</div>
                <div class="general-info-value">{{ profile_info.get_age }}</div>
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Language:</div>
                <div class="general-info-value">{{ profile_info.get_profile_language }}</div>
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Account Creation Time:</div>
                <div class="general-info-value">{{ profile_info.profile_creation_time }}</div>
            </div>

            <div class="general-info-row">
                <div class="general-info-label">Last Updated Time:</div>
                <div class="general-info-value">{{ profile_info.profile_updated_time }}</div>
            </div>

        </div>

    </div>

</div>

    
        <div class="container">
            
            
        </div>   
    </div>
</div>                

    

</body>
</html>