<form method="POST">
    {% csrf_token %}
    <label>Email or Phone:</label>
    <input type="text" name="email_or_phone" required>

    <label>Password:</label>
    <input type="password" name="password1" required>

    <label>Confirm Password:</label>
    <input type="password" name="password2" required>

    <label>Role:</label>
    <select name="role">
        <option value="customer" selected>Customer</option>
       
       
    </select>

    <button type="submit">Sign Up</button>
</form>
