/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e5e8ef;
    height: 100vh;
    padding: 20px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    padding: 0;
     text-decoration: none;
}

.menu li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    
}

.menu .active,
.menu li:hover {
    background: #eef2ff;
    color: #3b5bff;
    text-decoration: none;
}
.active a{
    text-decoration: none;
   
}
/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.topbar input {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #dfe3ec;
    border-radius: 8px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 40px;
    border-radius: 50%;
}

/* Stats Cards */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card h2 {
    margin: 8px 0;
}

.green { color: #3bbf51; }
.red { color: #ff4e4e; }

/* Charts */
.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.chart-card {
    height: 220px;
    background: #fff;
    padding: 20px;
    border-radius: 14px;
}

/* Tables */
.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.table-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px 5px;
    border-bottom: 1px solid #f0f0f0;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
}

.blue { background: #3b5bff; }
.yellow { background: #ffba24; }
